{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>pharm_care</title>
        <link rel="stylesheet" href="{% static 'patients/css/style.css' %}"/>
        <link rel="icon" href="./favicon.ico" type="image/x-icon">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body id="bodii" class="relative bg-[#F2F2F2]">
            <div id="" class=" bg-blue-700 relative h-[320px] w-full sm:border-y-2 fixed top-0 z-50 mb-[15px] sm:mb-[30px] text-white ">
                <nav id="nav" class="  flex flex-row p-[15px]">
                    <ul class="flex flex-row justify-between w-full">
                        <li class="w-[100px] text-[17px] sm:text-[25px] ml-[15px] text-gray-300 ">REQEXT</li>
                        <div class="grow flex flex-row justify-end gap-[12px] mr-[10px] ">
                            {% if request.user.is_authenticated %}
                               <a href="{% url 'patients:logout' %}"><li>logout</li></a>
                            {% else %}
                            <div class=" flex flex-col justify-center  items-center content-center  w-[150px] h-[100px] relative border-solid ">
                                    
                                <li id="signup" class="bg-white absolute top-0 rounded-lg p-[5px] pl-[5px] mt-[0] w-[60px] cursor-pointer text-black">signup</li>
                                <div id="dropdown" class=" absolute top-[35px] gap-y-0.5 hidden z-100 w-full h-[80px] align-center flex flex-col justify-center content-center items-center gap-[5px] rounded-lg border-y-2 translate-x-6 transition ease-in-out delay-150  hover:scale-110  duration-300 ...">
                                    <div class="bg-white p-[7px] rounded-lg ">
                                        <a href="{% url 'patients:signup' %}"><P class="text-[15px] text-center text-black">Non-pharmacist</P></a>
                                    </div>
                                    <div class="bg-white p-[7px] rounded-lg mt-[2px]">
                                        <a href="{% url 'patients:pharmverify' %}"><p class="text-[15px] text-center text-black">pharmacist</p></a>
                                    </div>
                                </div>
                            </div>
                            
                            <a href="{% url 'patients:login' %}"><li class="bg-white  rounded-lg p-[5px]  mt-[0] w-[60px] cursor-pointer text-center text-black">login</li></a>
                            {% endif %}
                            <li class="pt-[8px] "><img src="{% static 'patients/imgs/fvv.png' %}" alt="imgs"></li>
                            <li class="flex sm:hidden"><img  id="search_control"  src="" ></li>
                            
                        </div>
                    
                    </ul>
                
                </nav>
                <div class=" {% if request.user.is_authenticated %} mt-[30px] {% else %} mt-[5px] {% endif %}  ">
                    
                    <div id="" class="   ">
                        <div class=" p-[20px]">
                            <p class="text-[20px] sm:text-[22px] md:text-[40px] font-serif text-gray-300">Bringing you closer to your favourite pharmacist</p>
                        </div>
                        
                        <form class=" p-[20px] {% if request.user.is_authenticated %} mt-[30px] {% else %} mt-[5px] {% endif %}flex row gap-x-2  " method="POST" action="{% url 'patients:search' %}">
                            
                            <button class="  bg-transparent border-none outline-none h-[45px]  ">
                                <img type="submit" src="{% static 'patients/imgs/searc-icon.png' %}" width="45px" height="45px">
                            </button>
                            <input class="rounded-lg w-full sm:w-[400px] text-center" type="text" name="searchpharm" id="search_idan" {% if request.user.is_authenticated %} placeholder="search pharmacist" {% else %} placeholder="login to search for pharmacist" {% endif %}>
                            
                        
                            
                        </form>
                            
                       
                    </div>
                  
                </div>
                
                
             
            </div>
            
            <div id="bodi" class="flex flex-col justify-center items-center   ">
                <div  class=" w-3/4 height-[300px]  flex flex-row justify-center items-center mt-[35px] bg-red-400 bg-[url({% static '/patients/imgs/img90.png' %})] bg-contain bg-no-repeat">
                    <div class=" w-full  flex flex-row justify-center items-center ">
                        <img class=" " src="" >
                        
                    </div>
                    
                    
                
                </div>
                
               
            
            </div>
            <div class="w-full flex flex-row justify-center items-center ">
                <div class=" grid grid-col-1 p-[15px] sm:p-[25px] sm:grid-cols-3   align-center gap-4 w-full sm:w-3/4 justify-center content-center items-center mt-[40px] pl-[15px] pr-[15px]">
                    {% for box in boxes %}
                    <div id="" class=" rounded-lg p-[15px] bg-white text-center h-[100px] p-[12px] hover:bg-slate-400 ">
                        <p>{{ box.details }}</p>
                    </div>
                    {% endfor %}
            
                    
                </div>
            </div>
            {% if request.user.is_authenticated %}
            <div class="w-full text-center mt-[180px] mb-[50px] p-auto flex row justify-center align-center">
                
                <p class="text-[18px] text-slate-700 text-cenetr block w-full text-gray-300">chat with your pharmacist</p>
            
            </div>
            
            <div id ="identity" class=" relative mt-[15px] mb-[100px]  w-full flex-wrap h-auto  sm:mr-[0] flex flex-row justify-center gap-y-2  ">
            {% for pharms in pharm %}
                
                
                <div  class="flex flex-col content-center bg-white border-2 border-gray-500 min-w-[165px] h-full  ml-[13px]  rounded-lg ">
                    <div>
                        <img class="w-full" src="{% static 'patients/imgs/dddd.png' %}" alt="pics">

                    </div>
                    <div class="  w-full p-[3px]">
                        <p class="text-center  w-full p-[5px] mt-[5px] rounded-lg bg-slate-600">{{ pharms.username }}</p>
                        <p class="text-center w-full p-[5px] mt-[5px] rounded-lg bg-slate-600">{{ pharms.title }}</p>
                        <a class=" " href="/care/inbox/{{ pharms.id }}/"><button class="mt-[7px] {% if pharms.created_by == request.user %} {% else %} hidden {% endif %}  bg-gray-400 rounded-lg p-[5px]">inbox</button></a>
                    </div>
                    <form class=" pl-[3px] pr-[3px] {% if pharms.created_by == request.user %} hidden {% else %} block {% endif %}" action="care/phar/{{ pharms.id }}/" method="POST">
                        
                        <input type="hidden" name="username" value="{{ pharms.name }}">
                        <button class="text-center w-full p-[5px] mt-[5px] rounded-lg bg-slate-600">chat with</button>
                    </form>
                </div>
                
                

            
            {% endfor %}
        
            {% else %} 
            {% endif %}
            </div>
            
            <footer class="bg-black  w-full mt-[70px] h-[500px] pt-[30px] sm:pt-0">
                <nav class="w-full flex flex-col sm:flex-row sm:justify-evenly text-white gap-[35px] ml-[20px]">
                    <ul class="w-[220px] flex flex-col gap-[10px] sm:mt-[150px]">
                        <li class="text-[22px]">REQEXT</li>
                        <li>Machine Learning</li>
                        <li>Software Development</li>
                    </ul>
                    <ul class="w-[220px] flex flex-col gap-[10px] sm:mt-[150px]">
                        <li class="text-[22px]">ABOUT US</li>
                        <li>Consulting</li>
                        <li>Drug deivery</li>
                        <li>Pharmaceutical care</li>
                    </ul>
                    <ul class="flex flex-row  sm:mt-[150px] sm:mr-[20px] gap-[10px] sm:gap-[50px]">
                        <li><img  src="{% static 'patients/imgs/gggggf.png' %}" width="37px" height="37px" alt="instagram"></li>
                        <li><img src="{% static 'patients/imgs/Gmail.png' %}"  width="37px" height="37px" alt=""></li>
                        <li><img src="{% static 'patients/imgs/LinkedIn.png' %}"  width="37px" height="37px" alt=""></li>
                    </ul>
                </nav>
            </footer>




        <script>
       
            const search_controllh = document.querySelector('#search_control');
            const search_iconh = document.querySelector('#search_icon');
            const bodih = document.querySelector('#bodi');
            const bodiih = document.querySelector('#bodii');
            
            search_controllh.addEventListener('click', ()=>{

                if (search_iconh.style.display = "none"){
                    search_iconh.style.display = "block";
            
                }else {
                    search_iconh.style.display = "none";
                }
            })
  
        
            const formh = document.querySelector('#form');
            const signup = document.querySelector('#signup');
            const dropdown = document.querySelector('#dropdown');
            signup.addEventListener('click', () => {
                if (dropdown.style.display = "none"){
                    dropdown.style.display = "block";
            
                }else {
                    dropdown.style.display = "none";
                }
            })
            bodih.addEventListener('click', () => {
                dropdown.style.display = "none";

             })
            
            const productContainers = [...document.querySelectorAll('#identity')];
            const nxtBtn = [...document.querySelectorAll('#next-btn')];
            const preBtn = [...document.querySelectorAll('#prev-btn')];

            productContainers.forEach((item, i) => {
                let containerDimensions = item.getBoundingClientRect();
                let containerWidth = containerDimensions.width;

                nxtBtn[i].addEventListener('click', () => {
                    item.scrollLeft += containerWidth;
                })

                preBtn[i].addEventListener('click', () => {
                    item.scrollLeft -= containerWidth;
                })
})
        </script>
       
    </body>
</html>