{% extends 'copy.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
        <div id="" class=" bg-blue-700 text-white relative h-[150px] w-full sm:border-y-2 sticky top-0 z-50 mb-[15px] sm:mb-[30px] ">
            <nav id="nav" class="  flex flex-row p-[15px] mb-[50px] h-[68px] sm:h-[150px] ">
                <ul class="flex flex-row justify-between w-full">
                    <li class="w-[100px] text-[17px] sm:text-[25px] ml-[15px] ">REQEXT</li>
                    
                </ul>
            
            </nav>
            
            
        
        </div>
        <div class=" w-full sm:w-1/2 my-6 mx-auto p-6 rounded-xl h-screen ">
            <h1 class="mb-6 text-3xl text-center text-gray-600">Upload your passport</h1>

            <form  class="h-screen" method="post" action="{% static 'patients:uploadimage' pharmodel.pk %}" enctype="multipart/form-data">

                {{ form.as_p }}

                <input type="submit" value="submit">
                
            </form>
            
        </div>
      
{% endblock %}

